.container {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(183, 187, 187);
}
.containerWrapper {
  display: flex;
  margin: 20px 30px;
  padding: 10px;
}
.drawer {
  flex: 2;
  background-color: rgb(208, 214, 219);
  height: 100vh;
  border: 1px solid rgb(114, 111, 111);
  border-radius: 2px;
}
.drawerWrapper {
  padding: 20px 10px;
}
.adminBanner {
  display: flex;
  align-items: center;
  background-color: rgb(6, 6, 54);
  color: aliceblue;
  font-size: 15px;
  border-radius: 3px;
  margin-bottom: 25px;
}
.fcmanager {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.dashboard {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.dashboard p {
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.aihome {
  height: 30px;
  width: 30px;
  color: rgb(5, 73, 85);
  padding-right: 20px;
}
.addContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.addContainer p {
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.aiadd {
  height: 30px;
  width: 30px;
  color: rgb(7, 80, 31);
  padding-right: 20px;
}
.manageShipment {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.manageShipment p {
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.clip {
  height: 30px;
  width: 30px;
  color: rgb(63, 21, 66);
  padding-right: 20px;
}
.trackShipment {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.trackShipment p {
  font-size: 19px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.outline {
  height: 30px;
  width: 30px;
  color: rgb(236, 99, 8);
  padding-right: 20px;
}
.mainArea {
  flex: 10;
  padding: 40px 10px;
}
.mainArea table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.mainArea table tr th {
  border: 1px solid rgb(4, 31, 15);
  text-align: center;
  padding: 10px 5px;
  background-color: rgb(4, 31, 15);
  color: aliceblue;
}
.mainArea table tr td {
  border: 1px solid grey;
  text-align: center;
  padding: 10px 5px;
  background-color: rgb(255, 255, 255);
}
