.container {
  margin: 5px;
  padding: 20px 30px;
  background-color: rgb(247, 247, 247);
}
.generalInfoWrapper {
  display: flex;
  flex-direction: column;
}
.generalInfoWrapper div input {
  height: 40px;
  width: 70%;
  padding-left: 7px;
  padding-right: 75px;
}
.ginfo {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.locationWrapper {
  display: flex;
  flex-direction: column;
}
.locationWrapper div input {
  height: 40px;
  width: 70%;
  padding-left: 7px;
  padding-right: 75px;
}
.locationdata {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.arrWrapper {
  display: flex;
  flex-direction: column;
}
.arrWrapper div input {
  height: 40px;
  width: 70%;
  padding-left: 7px;
  padding-right: 75px;
}
.arrival {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.arrival input {
  margin: 10px;
}
.iso {
  display: flex;
  flex-direction: column;
}
.isotime {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.isotime input {
  height: 40px;
  width: 255px;
  padding-left: 7px;
  padding-right: 75px;
}
.btn {
  padding: 10px 45px;
  margin: 20px 0px;
  font-size: 15px;
  font-weight: 400;
  background-color: rgb(5, 59, 5);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
