.container {
  width: 100%;

  padding: 0;
  margin: 0;
  border-top: 1px solid grey;
}
.wrapper {
  padding: 20px 30px;
}
.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonContainer {
  width: 60%;
  padding-left: 20px;
  display: flex;
}
.callButton {
  padding: 15px 65px;
  border: none;
  border-radius: 50px;
  background-color: rgb(179, 176, 176);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 30px;
  letter-spacing: 1px;
  font-size: 20px;
  cursor: pointer;
}
.callButton:hover {
  border: 2px solid black;
  transition: ease-in-out;
}
.writeButton {
  padding: 15px 55px;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 50px;
  background-color: rgb(179, 176, 176);
  margin-right: 30px;
  letter-spacing: 1px;
  font-size: 20px;
  cursor: pointer;
}
.writeButton:hover {
  border: 2px solid black;
  transition: all 2s ease-in-out;
}
.logo {
  padding-right: 15px;
}
.midContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.midContainer div h6 {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.midContainer div p {
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}
.copyrightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rights {
  padding-right: 7vw;
}
@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 15px 10px;
  }
  .buttonContainer {
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
  }
  .callButton {
    padding: 7px 25px;
  }
  .writeButton {
    padding: 7px 25px;
  }
  .logo {
    padding-right: 0px;
  }
  .footerLogo {
    height: 35px;
    width: 45px;
  }
  .midContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .midContainer div {
    width: 100%;
  }
}
