.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper {
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper input {
  padding: 20px 100px;
  padding-left: 10px;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 20vw;
}
.loginButton {
  padding: 10px 70px;
  border-radius: 3px;
  border-radius: 3px;
  background-color: rgb(5, 51, 5);
  color: white;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
